<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/app.css">
    <link rel="stylesheet" href="../assets/registration.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>registration</title>
</head>
<body>
<header>
    <div class="container">
        <nav class="navbar navbar-light navbar-toggleable-sm">
            <a href="#" class="navbar-brand mb-0">
                <img src="../assets/library.png" width="30" height="30" class="d-inline-block align-top" alt="">
                hello_books</a>

            <div  class=" justify-content-end">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="# sec-about">library</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="# sec-about">profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sec-features">logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<div class="row">
    <div class="col-md-2 col-sm-6">
        <img class="avatar ml-5" src="../assets/avatar.png">
    </div>
</div>
</body>
</html>