<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/app.css">
    <link rel="stylesheet" href="../assets/registration.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>registration</title>
</head>
<body>
<header>
    <div class="container">
        <nav class="navbar navbar-light navbar-toggleable-sm">
            <a href="#" class="navbar-brand mb-0">
                <img src="../assets/library.png" width="30" height="30" class="d-inline-block align-top" alt="">
                hello_books</a>

            <div  class=" justify-content-end">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="# sec-about">about</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sec-features">borrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login.html">login</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!--registration form  utilises the grid system on each form group-->
<div class=" container mt-5 ">
    <form >
        <div class="form-group row">
            <div class="col-sm-2"></div>
            <label class="col-sm-2 col-form-label ">email</label>
            <div class="col-sm-6 ">
            <input type="email" class="form-control " placeholder="email">
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2"></div>
            <label class="col-sm-2 col-form-label ">username</label>
            <div class="col-sm-6 ">
                <input type="email" class="form-control " placeholder="username">
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2"></div>
            <label class="col-sm-2 col-form-label ">password</label>
            <div class="col-sm-6 ">
                <input type="email" class="form-control " placeholder="password">
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2"></div>
            <label class="col-sm-2 col-form-label ">confirm password</label>
            <div class="col-sm-6 ">
                <input type="password" class="form-control " placeholder="confirm password">
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary">submit</button>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </form>
</div>





















</body>
</html>